a {
    color: #e7e1dd;
    font-family: Raleway-Bold;
    text-decoration: none;
}

a:hover {
    color: #6fa342;
}

html {
    background-color: rgb(24, 24, 24);
    color: #e7e1dd;
}

h1 {
    color: #6fa342;
    font-size: 24px;
}

h2, h3 {
    color: #e7e1dd;
}

h1, h2, h3 {
    font-family: Raleway-Regular;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
}

.content {
    width: 1080px;
}

.header {
    background-color: rgb(24, 24, 24);
    padding-top: 50px;
    position: sticky;
    top: 0;
}

.mail {
    color:#6fa342;
    font-family: Raleway-Bold;
    margin-top: 0px;
    text-transform: lowercase;
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 25px;
    margin-top: 25px;
}

.nav {
    border-bottom: 1px solid; 
    border-color: #2a3d19;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.page {
    display: grid;
    align-items: center; 
    justify-items: center;
    overflow: auto;
}

.reels_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 8px;
}

.reels_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 15px;
}

.title {
    border-top: 1px solid; 
    border-color: #2a3d19;
    font-family: Raleway-Bold;
    padding-top: 15px;
    text-align: center;
}

@font-face {
  font-family: Raleway-Regular;
  src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
  }