:root {
    --white: #F6F6F6;
    --green: #3C9C63;
    --dark: #414141;
    --grey: #A5A5A5;
    --black: rgb(24, 24, 24);
}

a {
    color: var(--grey);
    font-family: Raleway-Bold;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}

a:hover {
    color: var(--green);
}

html {
    background-color: var(--black);
    color: var(--white);
}

h1 {
    color: var(--green);
    font-size: 24px;
}

h2 {
    color: var(--dark);
}

h3 {
    color: var(--grey);
}

h1, h2, h3 {
    font-size: 20px;
}

h1, h2, h3 {
    font-family: Raleway-Regular;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
}

iframe {
    border: 1px solid;
    border-color: var(--green);
    padding: 1px;
}

.content {
    margin: auto;
}

.header {
    border-bottom: 1px solid; 
    border-color: var(--green);
    background-color: var(--black);
    padding-top: 10px;
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    text-align: center;
}

.mail {
    color: var(--green);
    font-family: Raleway-Bold;
    margin-top: 0px;
    text-transform: lowercase;
    text-decoration: none;
}

.main {
    /* border-bottom: 1px solid; 
    border-color: var(--green); */
    display: grid;  
    margin-top: 25px;
    margin: auto;
    max-width: 1080px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.reels_1 {
    /* border-bottom: 1px solid; 
    border-color: var(--green); */
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(526px, 1fr));
    margin: auto;
    max-width: 1080px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.reels_2 {
    /* border-bottom: 1px solid; 
    border-color: var(--green); */
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin: auto;
    max-width: 1080px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.youtube_video { 
    aspect-ratio: 16/9;
    width: 100%;
    min-width: 400;
    max-width: 800;
    height: auto;
    min-height: 400;
}

/* .title {
    font-family: Raleway-Bold;
    padding-top: 15px;
    text-align: center;
} */

@font-face {
  font-family: Raleway-Regular;
  src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
  }