a {
    color: #e7e1dd;
    font-family: Raleway-Bold;
    text-decoration: none;
}

a:hover {
    color: #6fa342;
}

html {
    background-color: rgb(24, 24, 24);
    color: #e7e1dd;
}

h1 {
    color: #6fa342;
    font-size: 24px;
}

h2, h3 {
    color: #e7e1dd;
}

h1, h2, h3 {
    font-family: Raleway-Regular;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
}

.content {
    margin: auto;
}

.header {
    border-bottom: 1px solid; 
    border-color: #2a3d19;
    background-color: rgb(24, 24, 24);
    padding-top: 50px;
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    text-align: center;
}

.mail {
    color:#6fa342;
    font-family: Raleway-Bold;
    margin-top: 0px;
    text-transform: lowercase;
    text-decoration: none;
}

.main {
    border-bottom: 1px solid; 
    border-color: #2a3d19;
    display: grid;  
    margin-top: 25px;
    margin: auto;
    max-width: 1080px;
    padding-bottom: 25px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    text-align: center;
}

.reels_1 {
    border-bottom: 1px solid; 
    border-color: #2a3d19;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
    margin: auto;
    max-width: 1080px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.reels_2 {
    border-bottom: 1px solid; 
    border-color: #2a3d19;
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin: auto;
    max-width: 1080px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.youtube_video { 
    aspect-ratio: 16/9;
    width: 100%;
    min-width:400;
    max-width:800;
    height: auto;
    min-height:400;
}

/* .title {
    font-family: Raleway-Bold;
    padding-top: 15px;
    text-align: center;
} */

@font-face {
  font-family: Raleway-Regular;
  src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
  }